.main-section {
    background-color: gray;
    padding-top: 320px;
    padding-bottom: 335px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.main-section .text-center {
    margin-bottom: 20px;
}