.portfolio__head {
    text-align: center;
    max-width: 730px;
    margin: auto;
    margin-bottom: 70px;
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio__head h2 {
    margin-bottom: 30px;
}
