.we-do {
    padding-top: 110px;
    padding-bottom: 105px;
}

.we-do__title {
    margin-bottom: 32px;
}

.we-do__head {
    max-width: 730px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.we-do__list {
    display: flex;
    margin-bottom: 55px;
    gap: 30px;
}

.we-do-list .h3-title {
    margin-bottom: 12px;
}

.we-do__text p {
    text-align: center;
}

.we-do__item {
    display: flex;
    max-width: 353px;
}

.we-do__icon {
    --size: 90px;
    margin-right: calc(18px + 10px);
    max-width: var(--size);
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 0px 11px var(--main-light-color);
    outline: 10px solid var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.we-do__icon .icon {
    color: var(--accent-color);
    font-size: 40px;
    width: auto;
}

.we-do__right {
    padding-top: 45px;
}